body {
  background-color: #000000;
  color: white;
  font-family: "Roboto", sans-serif;
}

hr.border-secondary {
  border-width: 3px;
  border-color: #555;
}

.btn-outline-light {
  border: 1px solid white;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn-danger {
  background-color: red;
  border: none;
}
